
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;900&display=swap');


:root {
    --purple: #9b44ff;
    --pink: #ff4ea3;
    --green: #3dc081;
    --red: #b13737;
    --light-green: #edfff6;
    --light-purple: #c0add1;
    --accent-color1: #ffffff;
    --accent-color2: #555555;
    --accent-color3: #cccccc;
    --card-color: #000000;
    --background: #111111;
    --font-family: "Inter", sans-serif;
}

[data-theme="light"] {
  --background: #ffffff;
  --accent-color1: #000000;
  --accent-color2: #eeeeee;
  --accent-color3: #777777;
  --card-color: #eeeeee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}

.app-container {
    background-color: var(--background);
    font-family: var(--font-family);
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding: 1rem 3rem 0;
    @media screen and (min-widht:280px) and (max-width:1080px) {
        padding: 0;
        &::-webkit-scrollbar{
            display: none;
        }
    }

}

::-webkit-scrollbar{
    background-color: #111111;
    width: 0.2rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}
